.container { background-image: linear-gradient(to right, rgb(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), 
  url("../images/Fern\ wallpaper.png");  
background-repeat: no-repeat;
background-size: cover;
background-position: bottom right;
min-height: 100vh; 
padding: 128px;
}

body {font-family: "Englebert",cursive; font-weight: 400; font-style: normal;}
p {font-family:"Playpen Sans Thai",cursive;
  font-optical-sizing:auto;
  font-weight:weight;
  font-style:normal;
  margin-bottom: 24px;}

.contact-item {margin-bottom: 4px;}
.contact-icon {margin-right: 12px; width: 16px;}
.contact {margin-bottom: 24px;}
.content {max-width: 500px;}
.name {font-size: 48px; text-transform: uppercase;}
.job {font-size: 18px; text-transform: uppercase; margin-bottom: 24px;}
.about {font-size: 18px; font-weight: 300; color:gray;}
.avata {width: 200px; height: 200px; margin-bottom: 35px; border-radius: 50%; object-fit: cover; 
        box-shadow:10px 10px 0px 0px black;}
.button {background-color: black; color: white; padding: 12px 24px; text-decoration: none;}

@media screen and (max-width:768px){.container{padding:48px;}}
@media screen and (max-width:768px){.name{font-size: 36px;}}
